<nav class="navbar navbar-expand-lg navbar-light bg-primary nav-fill w-100 pre-footer">
  <div class="row w-100">
    <div class="col-sm-4">
      <i class="fas fa-rocket fa-white fa-3x"></i>
      <p class="white-text">Free Shipping &amp; Return<br><span 
      style="font-size: 0.8rem;">Free shipping on order over 49$</span></p>
    </div>
    <div class="col-sm-4">
      <i class="fas fa-hand-holding-usd fa-white fa-3x"></i>
      <p class="white-text">Money Guarantee<br><span 
      style="font-size: 0.8rem;">30 days money back guarantee</span></p>
    </div>
    <div class="col-sm-4">
      <i class="fas fa-headphones-alt fa-white fa-3x"></i>
      <p class="white-text">Online Support<br><span 
      style="font-size: 0.8rem;">We support online 24 hours a day</span></p>
    </div>
  </div>
</nav>
<div class="row container-fluid footer">
    <div class="col-sm-4 ">
      <div class="footer-info title-info">
      Contact Us
      </div>
      <div class="footer-info detail-info">
        <i class="fas fa-home color-grey fa-lg"></i>
        <p>No. 221B, Baker Street, London, England</p>
      </div>
      <div class="footer-info detail-info">
        <i class="fas fa-paper-plane color-grey fa-lg"></i>
        <p>valorant-shop@gmail.com</p>
      </div>
      <div class="footer-info detail-info">
        <i class="fas fa-phone-volume color-grey fa-lg"></i>
        <p> (+84) 35-785-7086</p>
      </div>
      <div class="footer-info detail-info">
        <a href="#">
          <i class="fab fa-twitter color-grey fa-lg"></i>
        </a>
        <a href="#">
          <i class="fab fa-facebook-f color-grey fa-lg contact-icon"></i>
        </a>
        <a href="#">
          <i class="fab fa-github-alt color-grey fa-lg contact-icon"></i>
        </a>
        <a href="#">
          <i class="fab fa-youtube color-grey fa-lg contact-icon"></i>
        </a>
      </div>
      <div class="footer-info detail-info" style="margin-top: 1rem;"> 
        Copyright 1999-2020 by ThaiLNV. All Rights Reserved.<br>
        Powered by Bootstrap 4.
      </div>
    </div>
    <div class="col-sm-2">
      <div class="footer-info title-info">
      Our Services
      </div>
      <a class="footer-info detail-info" href="#">
      Ho Chi Minh city
      </a>
      <a class="footer-info detail-info" href="#">
      Da Nang
      </a>
      <a class="footer-info detail-info" href="#">
      Hai Phong
      </a>
      <a class="footer-info detail-info" href="#">
      Ben Tre
      </a>
      <a class="footer-info detail-info" href="#">
      Tien Giang
      </a>
    </div>
    <div class="col-sm-2">
      <div class="footer-info title-info">
      Extras
      </div>
      <a class="footer-info detail-info" href="#">
      About Store
      </a>
      <a class="footer-info detail-info" href="#">
      New Collections
      </a>
      <a class="footer-info detail-info" href="#">
      Latest News
      </a>
    </div>
    <div class="col-sm-4 title-info">
      <div>
      Follow Us
      </div>
      <a href="#">
        <img src="/img/instagram1.jpg" width="350" style="margin-bottom: 1rem; margin-top: 1rem;"/>
      </a>
    </div>
</div>
